/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* EventCon Heading Styles */
.eventcon-heading {
    text-align: center;
    padding: 50px 0;
}

.eventcon-heading h1 {
    font-size: 36px;
}

/* Performer List Styles */
.performer-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.performer {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.performer img {
    width: 100%;
    height: auto;
}

.performer-details {
    margin-top: 20px;
}

/* Venue Details Styles */
.venue-details {
    text-align: center;
}

/* Footer Styles */
/* Footer Styles */
.footer {
    background-color: #191616;
    color: #fff;
    padding: 40px 0;
}

.footer-top {
    padding-bottom: 20px;
}

.footer-brand {
    text-align: center;
    margin-bottom: 20px;
}

.footer-brand .logo {
    display: inline-block;
}

.footer-brand img {
    width: 120px; /* Adjust as needed */
    height: auto;
}

.footer-text {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

.footer-contact {
    text-align: center;
}

.contact-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-item {
    margin-bottom: 10px;
    list-style: none;
}

.contact-item ion-icon {
    margin-right: 5px;
}

.contact-link {
    color: #fff;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #222;
    padding-top: 20px;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 14px;
    margin: 10;
}

.footer-bottom-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-bottom-list li {
    margin-right: 20px;
}

.footer-bottom-link {
    color: #fff;
    text-decoration: none;
}

.footer-bottom-link:hover {
    text-decoration: underline;
}
